languageN8nWorkflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6892b11f-2744-49b2-99c6-03d5ed31c822",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "0eaa2f01-ac70-49e4-b26e-8c7947ad4de6",
      "name": "Webhook",
      "webhookId": "6892b11f-2744-49b2-99c6-03d5ed31c822"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "content": "You are a translation engine. Detect source language if \"source_lang\" is \"auto\".\nReturn ONLY a single valid JSON object that matches this schema:\n{\n  \"source_lang_detected\": \"string (ISO language name or code)\",\n  \"target_lang\": \"string (requested)\",\n  \"original_text\": \"string\",\n  \"translated_text\": \"string\",\n  \"formality_applied\": \"casual|neutral|formal\",\n  \"confidence\": 0-1,\n  \"notes\": \"string (optional, explanations/idioms only if include_explanations=true)\",\n  \"terminology_applied\": [{\"from\":\"string\",\"to\":\"string\"}]\n}\n- Respect glossary mappings exactly where applicable (case-insensitive match).\n- Preserve numbers, dates, URLs, and @handles.\n- Never add commentary or markdown; output JSON only.",
              "role": "system"
            },
            {
              "content": "={\n  \"text\": \"{{$json.body.text ?? $json.body.message}}\",\n  \"target_lang\": \"{{$json.body.target_lang ?? $json.body.targetLang ?? 'es'}}\",\n  \"source_lang\": \"{{$json.body.source_lang ?? 'auto'}}\",\n  \"formality\": \"{{$json.body.formality ?? 'neutral'}}\",\n  \"include_explanations\": {{ $json.body.include_explanations ?? false }},\n  \"glossary\": {{ $json.body.glossary ?? [] }}\n}\n"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        192,
        0
      ],
      "id": "99d95ea0-378a-4101-9653-6c0f60e69b15",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "ppz2SjXiw8GvgvCu",
          "name": "Gauntlet OpenAI"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        544,
        0
      ],
      "id": "1255cede-598b-40c7-a0c0-d2c7cc24e03e",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "082b0bfc-4f86-4987-98f0-a8ccaad09146",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e5840298eec2529473b4e3f50bc5c05a4bb2a6037051ac959cd39bbab9721e60"
  },
  "id": "4tTV6Or3CPmaiEV3",
  "tags": []
}